- const title = '人物访谈-新华网'
doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="renderer" content="webkit")
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-title" content="#{title}")
        link(rel="apple-touch-icon-precomposed" href="index-assets/logo.wechat.png")
        script(src="bundle/browser.min.js" id="BROWSER_NOJUMP")
        link(rel="stylesheet" href="bundle/index.min.css")
        link(rel="stylesheet" href="hzpIsMostHandsome/index2.css")

    body
        include mod-nav
        .swiper-container.main#main
            .swiper-wrapper
                .swiper-slide.scenes-slide.scenes1(data-hash="1")
                    include mod-top-nav
                    include mod-scenes1
                .swiper-slide.scenes-slide.scenes2(data-hash="2")
                    include mod-scenes2
                .swiper-slide.scenes-slide.scenes3(data-hash="3")
                    include mod-scenes3
                .swiper-slide.scenes-slide.scenes4(data-hash="4")
                    include mod-scenes4
                .swiper-slide.scenes-slide.scenes5(data-hash="5")
                    include mod-scenes5
        #cover.cover
            .cover-logo

        //- script(src="lib/XhTranslate/XhTranslate.min.js")
        script(src="lib/modernizr-custom.min.js")

        script(src="lib/jq.js")

        script(src="lib/resLoader/resLoader.min.js")
        script(src="lib/Swiper-3.4.1/dist/js/swiper.jquery.min.js")
        //- script(src="lib/Swiper-3.4.1/dist/js/swiper.jquery.min.hacks.js")
        script(src="lib/jquery.qrcode/jquery.qrcode.min.js")
        script(src="lib/gsap/TweenMax.min.js")
        //- script(src="lib/XhTranslate/XhTranslate.min.js")

        //- script(src="bundle/isAboveIE9.jquery.parallax.min.js")

        //- script(src="bundle/jquery-ui.min.js")
        //- script(src="bundle/cover.min.js")
        //- script(src="lib/triangleBg/triangleBg.js")

        script(src="bundle/index.min.js")
        script(src="hzpIsMostHandsome/index2.js")
        script(src="bundle/footer.min.js")
