- const title = '人物访谈-新华网'
doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="renderer" content="webkit")
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-title" content="#{title}")
        link(rel="apple-touch-icon-precomposed" href="index-assets/logo.wechat.png")
        script(src="bundle/browser.min.js" id="BROWSER_NOJUMP")
        link(rel="stylesheet" href="bundle/index.min.css")

    body
        include mod-top-nav
        .nav
            .logo
            .btn
                .btn
                    .icon-1
                    | 三个字
                .btn
                    .icon-2
                    | 三个字

        .swiper-container.main#main
            .swiper-wrapper
                .swiper-slide.main-slide
                    .swiper-container.scenes-1#scenes-1
                        .swiper-wrapper
                            .swiper-slide slider1
                            .swiper-slide slider2
                            .swiper-slide slider3
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next
                .swiper-slide.main-slide
                    .swiper-container#scenes-2
                        .swiper-wrapper
                            .swiper-slide
                            .swiper-slide slider2
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next
                .swiper-slide.main-slide
                    .swiper-container#scenes-2
                        .swiper-wrapper
                            .swiper-slide
                                #footer
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next


        script(src="lib/jq.js")
        script(src="bundle/swiper-3.4.0.jquery.min.js")
        //- script(src="bundle/isAboveIE9.jquery.parallax.min.js")

        //- script(src="bundle/jquery-ui.min.js")
        script(src="bundle/index.min.js")
        script(src="bundle/footer.min.js")
