.part-pc-main
    .part-pc-abs-box
        .part-pc-abs-box-in(kill)
            .abs 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜。
        .part-pc-abs-icon1
        .part-pc-abs-icon2

    .part-col-title-big
        a(href="#") 精彩观点

    #part-avatar-imgs.hide(kill)
        img(src="local/demo.avatar.png" width="93" height="93")
        img(src="local/demo1.png" width="93" height="93")
        img(src="local/demo2.png" width="93" height="93")

    .part-item-kill(kill)
        .part-item
            .part-avatar
                .part-avatar-img-num 这是头像序号 
                .part-avatar-text.subTile 这是头像人物
            .part-title
                h2
                    a(href="#") 我是大标题
            .part-text
                .dialog-media
                    img(src="local/demo1.png" width="100%")
                    .title-string.hide 我是视频大标题
                    .src-string.hide 我是视频地址
                .abs
                    | 111时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。
                    br
                    | 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。

        .part-item
            .part-avatar
                //- img(src="local/demo0.png" width="100%")
                .part-avatar-img-num 1
                .part-avatar-text 安吉丽娜朱莉2
            .part-title
                h2 一二三四五六七八九十一二三四五六七八九十一二三四五六
            .part-text
                .dialog-media
                    img(src="local/demo1.png" width="100%")
                    //- .title-string.hide 我是视频标题222
                    //- .src-string.hide http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v
                .abs 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。
        .part-item
            .part-avatar
                //- img(src="local/demo0.png" width="100%")
                .part-avatar-img-num 3
                .part-avatar-text 安吉丽娜朱莉3
            .part-title
                h2 一二三四五六七八九十一
            .part-text
                .dialog-media
                    img(src="local/demo1.png" width="100%")
                    .title-string.hide 我是视频标题333
                    .src-string.hide http://vod.xinhuanet.com/v/vod.html?vid=398491
                p 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。
        .part-item
            .part-avatar
                .part-avatar-img-num 2
                .part-avatar-text 安吉丽娜朱莉3
            .part-title
                h2 一二三四五六七八九十
            .part-text
                .dialog-media
                    img(src="local/demo1.png" width="100%")
                    .title-string.hide 我是视频标题444
                    .src-string.hide http://vod.xinhuanet.com/v/vod.html?vid=398491
                p 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。
        .part-item
            .part-avatar
                .part-avatar-img-num 99
                .part-avatar-text 安吉丽娜朱莉99
            .part-title
                h2 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十
            .part-text
                .dialog-media
                    img(src="local/demo1.png" width="100%")
                    .title-string.hide 我是视频标题555 这是等待播放demo
                    .src-string.hide http://vod.xinhuanet.com/v/vod.html?vid=398491
                p 时光网特稿 在本月《星际迷航3：超越星辰》的中国宣传活动上，别看柯克船长克里斯·派恩和史波克扎克瑞·昆图在不断刷屏，但西蒙·佩吉收获的尖叫一点都不逊色。他在这部影片中饰演的“进取号”轮机长斯科特很讨喜，此前他在《碟中谍》中饰演的Benji也是俘获了不少人心，但这些甚至都不是他圈粉最多的角色。
