.part-pc-sidebar
    .part-item
        .part-col-title
            a(href="#") 嘉宾简介
        .part-intro
            a(href="#")
                img(src="index-assets/demo-jiabin.png" width="89" height="114")
            .part-intro-title
                strong 郭田勇
            .part-intro-text 汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。
        .part-intro
            a(href="#")
                img(src="index-assets/demo-jiabin.png" width="89" height="114")
            .part-intro-title
                strong 郭田勇
            .part-intro-text 汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。
        .part-intro
            a(href="#")
                img(src="index-assets/demo-jiabin.png" width="89" height="114")
            .part-intro-title
                strong 郭田勇
            .part-intro-text 汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。
        .part-intro
            a(href="#")
                img(src="index-assets/demo-jiabin.png" width="89" height="114")
            .part-intro-title
                strong 郭田勇
            .part-intro-text 汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。汉族，山东烟台人。中国人，经济学博士学位。中央财经大学金融学院教授。中央财经大学金学院教授。再来几个字凑数。

    .part-item.isNoIE9
        .part-col-title
            a(href="#") 系列访谈
        .swiper-container.part-item-pic#part-item-pic
            .swiper-wrapper
                .swiper-slide
                    a(href="#")
                        img(src="index-assets/demo4.png" width="100%")
                        p 辜胜阻做客新华网谈供给侧改革辜胜阻做客新华网谈供给侧改革
                .swiper-slide
                    a(href="#")
                        img(src="index-assets/demo5.png" width="100%")
                        p 辜胜阻做客新华网谈供给侧改革
                .swiper-slide
                    a(href="#")
                        img(src="index-assets/demo3.png" width="100%")
                        p 辜胜阻做客新华网谈供给侧改革
            .swiper-button-prev.swiper-button-white
            .swiper-button-next.swiper-button-white
            .swiper-pagination
    .part-item
        .part-col-title
            a(href="#") 往期对话
        ul.part-list
            li
                a(href="#") 郭田勇谈银行业改革
            li
                a(href="#") 辜胜阻做客新华网谈供给侧改革
            li
                a(href="#") 郭田勇谈银行业改革
            li
                a(href="#") 郭田勇谈银行业改革
            li
                a(href="#") 郭田勇谈银行业改革
            li
                a(href="#") 郭田勇谈银行业改革
    .part-item.part-item-nav
        a(href="#")
            img(src="index-assets/xinhua-talking-logo.png")
        .part-item-nav-item
            a(href="#")  商界
            a(href="#")  重磅
            a(href="#")  观点
            a(href="#")  观点
            a(href="#")  商界
            a(href="#")  重磅
            a(href="#")  观点
            a(href="#")  观点
