.banner-box#parallax-scene
    a(href="http://www.xinhuanet.com" target="_blank" title="点击访问新华网")
        .pc-xinhuanet-logo
            span.hide 新华网
    .banner
        .part-in-banner
            .layer.layer-z16(data-depth="-0.06")
                .banner-title
                    h1.banner-big-title 一二三四五六七八九十一二
                    h2.banner-subtitle1 一二三四五六七八九十一二三四五六七八九十
                    h2.banner-subtitle2 一二三四五六七八九十一二三四五六七
                //- .part-bg.hide
                //-     img(src="index-assets/pc-banner-bg.jpg" width="auto" height="100%")
                //- .layer.layer-z16(data-depth="0.10")
                //-     .part-in-box.pc-banner-light1
                .layer.layer-z14(data-depth="0.07")
                    .part-in-box.pc-banner-logo
                .layer.layer-z12(data-depth="-0.10")
                    .part-in-box.pc-banner-light2
                .layer.layer-z10(data-depth="0.09")
                    .part-in-box.pc-banner-logo-line
                .layer.layer-z3(data-depth="-0.02")
                    .person-img
                        img(src="local/demo-pople.png" width="auto" height="100%")
                        //- p.person-img-text.hide 好莱坞著名影星安吉丽娜朱莉的老公
                .layer.layer-z2(data-depth="0.60")
                    .part-in-box.pc-banner-light-bg
    //- .person-img-title 好莱坞著名影星安吉丽娜朱莉的老公
    .layer.layer-z2(data-depth="0.10").pointer-events-none
        .part-video.pointer-events-visible.dialog-media
            img(src="local/demo0.png" width="100%")
            .title-string.hide 我是视频标题
            .src-string.hide http://vod.xinhuanet.com/v/vod.html?vid=398491
            .layer.layer-z1(data-depth="0.3")
                .video-shadow
