#nav.nav
    .part
        .nav-logo
            a(href="#1")
                img(src="index-assets/bottom-nav-logo.png" height="37")
        .nav-btn-box.clearfix
            .nav-line
            a(href="#1")
                .nav-btn
                    .nav-icon.nav-icon-1
                    .t 最热访
            a(href="#2")
                .nav-btn
                    .nav-icon.nav-icon-2
                    .t 会客厅
            a(href="#3")
                .nav-btn
                    .nav-icon.nav-icon-3
                    .t 系列谈
            a(href="#4")
                .nav-btn
                    .nav-icon.nav-icon-4
                    .t 发布厅
            a(href="#5")
                .nav-btn
                    .nav-icon.nav-icon-5
                    .t 现场感
