/*==================================================================================================*/
.scenes5 {
    font-family    : "微软雅黑";
    background     : url("http://www.xinhuanet.com/interview/xhftxb/2017/img/bg_s5.png") center top no-repeat;
    background-size: cover;
}

.scenes5-cont-big-pic,
.scenes5-cont-pic-list-left,
.scenes5-cont-pic-list-right,
.scenes5-txt {
    float: left;
}

.scenes5-cont-pic-list-left {
    padding-top: 12px;
}

.scenes5-cont-pic-list-right {
    float: right;
}
/*==============*/
.scenes5-container {
    position   : absolute;
    top        : 50%;
    left       : 50%;
    margin-top : -340px;
    margin-left: -600px;
    width      : 1200px;
    height     : 718px;
    /* margin: 0 auto; */
    overflow   : hidden;
}

.scenes5-head {
    padding-bottom: 45px;
}

.scenes5-head-link {
    position   : relative;
    display    : inline-block;
    height     : 72px;
    font-size  : 34px;
    line-height: 72px;
    font-weight: bold;
    color      : #333;
}

.scenes5-head-link:before {
    content    : "";
    position   : absolute;
    left       : 0;
    bottom     : 0;
    display    : block;
    width      : 2em;
    padding-top: 2px;
    background : #edbf07;
    font-size  : inherit;
}
/*------------------*/
.scenes5-cont-pic-list-unit {
    position               : relative;
    float                  : left;
    width                  : 94px;
    height                 : 578px;
    margin-right           : 5px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style   : preserve-3d;
    transform-style        : preserve-3d;
}

.scenes5-cont-pic-list-unit-right:last-child {
    margin-right: 0;
}

.scenes5-cont-pic-list-unit-box {
    position          : relative;
    width             : 100%;
    height            : 100%;
    -webkit-transform : perspective(1280px) rotate3d(0, 1, 0, 0deg);
    -moz-transform    : perspective(1280px) rotate3d(0, 1, 0, 0deg);
    transform         : perspective(1280px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: all 1s ease 0s;
    -moz-transition   : all 1s ease 0s;
    transition        : all 1s ease 0s;
}

.scenes5-cont-pic-list-unit-box-left {
    -webkit-transform: perspective(1280px) rotate3d(0, 1, 0, 30deg);
    -moz-transform   : perspective(1280px) rotate3d(0, 1, 0, 30deg);
    transform        : perspective(1280px) rotate3d(0, 1, 0, 30deg);
}

.scenes5-cont-pic-list-unit-box-right {
    -webkit-transform: perspective(1280px) rotate3d(0, 1, 0, -30deg);
    -moz-transform   : perspective(1280px) rotate3d(0, 1, 0, -30deg);
    transform        : perspective(1280px) rotate3d(0, 1, 0, -30deg);
}

.scenes5-cont-pic-list-unit-box-nonerotate {
    -webkit-transform: perspective(1280px) rotate3d(0, 1, 0, 0deg);
    -moz-transform   : perspective(1280px) rotate3d(0, 1, 0, 0deg);
    transform        : perspective(1280px) rotate3d(0, 1, 0, 0deg);
}

.scenes5-cont-img {
    display: block;
    width  : 100%;
    height : 100%;
}

.scenes5-cont-bg-img {
    display                : block;
    width                  : 100%;
    height                 : 100%;
    /* background-image: url("http://www.xinhuanet.com/interview/xhftxb/2017/img/1.jpg"); */
    background-position    : center center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    background-size        : cover;
}

.scenes5-cont-pic-list-unit-bg {
    position  : absolute;
    bottom    : 0;
    width     : 42px;
    height    : 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100 */
    background: #e5e5e5;
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 229, 229, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#e5e5e5', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    font-size : 16px;
    color     : #fff;
    text-align: center;
}

.scenes5-cont-pic-list-unit-bg-left {
    left: 0;
}

.scenes5-cont-pic-list-unit-bg-right {
    right: 0;
}

.scenes5-img-tit {
    position         : absolute;
    display          : block;
    z-index          : 10;
    bottom           : 0;
    width            : 1em;
    padding-left     : 8px;
    padding-bottom   : 12px;
    font-size        : 16px;
    word-wrap        : break-word;
    color            : #fff;
    text-align       : center;
    -webkit-transform: translate3d(8px, 0, 50px);
    -moz-transform   : translate3d(8px, 0, 50px);
    transform        : translate3d(8px, 0, 50px);
}

.scenes5-img-tit-left {
    left: 0;
}

.scenes5-img-tit-right {
    right       : 24px;
    padding-left: 0;
}

.scenes5-img-tit-wrapper {
    position      : relative;
    display       : block;
    padding-bottom: 20px;
}

.scenes5-img-tit-wrapper:after,
.scenes5-img-tit-wrapper:before {
    position : absolute;
    left     : 6px;
    font-size: 20px;
    color    : #fff;
}

.scenes5-img-tit-wrapper:before {
    content          : "[";
    top              : -18px;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform   : rotate3d(0, 0, 1, 90deg);
    transform        : rotate3d(0, 0, 1, 90deg);
}

.scenes5-img-tit-wrapper:after {
    content          : "]";
    bottom           : 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform   : rotate3d(0, 0, 1, 90deg);
    transform        : rotate3d(0, 0, 1, 90deg);
}

.scenes5-cont-big-pic-cont-item-tit-main-wrapper {
    word-wrap: break-word;
}
/*==========================*/
.scenes5-cont-big-pic {
    position: relative;
    width   : 382px;
    height  : 600px;
    overflow: hidden;
}

.scenes5-cont-big-pic-cont {
    position: relative;
    width   : 100%;
    height  : 100%;
}

.scenes5-cont-big-pic-cont-item {
    position          : relative;
    position          : absolute;
    float             : left;
    top               : 0;
    left              : 0;
    width             : 100%;
    height            : 100%;
    overflow          : hidden;
    -webkit-transition: all .5s ease 0s;
    -moz-transition   : all .5s ease 0s;
    transition        : all .5s ease 0s;
}

.scenes5-cont-big-pic-cont-item-img {
    width : 100%;
    height: 100%;
}

.scenes5-cont-big-pic-cont-item-tit {
    position  : absolute;
    left      : 0;
    top       : 0;
    width     : 60px;
    height    : 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100 */
    background: #e5e5e5;
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 229, 229, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, rgba(229, 229, 229, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#e5e5e5', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.scenes5-cont-big-pic-cont-item-tit-big {
    position      : absolute;
    left          : 6px;
    bottom        : 0;
    display       : block;
    width         : 18px;
    padding-bottom: 14px;
    font-size     : 18px;
    font-family   : "黑体";
    color         : #fff;
}

.scenes5-cont-big-pic-cont-item-tit-small {
    position      : absolute;
    left          : 36px;
    bottom        : 0;
    float         : left;
    width         : 1em;
    padding-bottom: 14px;
    font-size     : 16px;
    font-weight   : bold;
    color         : #fff;
}

.scenes5-cont-big-pic-cont-item-tit-big:hover,
.scenes5-cont-big-pic-cont-item-tit-small:hover,
.scenes5-img-tit:hover {
    color: #fff;
}

.scenes5-cont-big-pic-cont-item-tit-small-wrapper {
    position      : relative;
    display       : block;
    padding-bottom: 20px;
}

.scenes5-cont-big-pic-cont-item-tit-small-wrapper:after,
.scenes5-cont-big-pic-cont-item-tit-small-wrapper:before {
    position : absolute;
    left     : 6px;
    font-size: 20px;
    color    : #fff;
}

.scenes5-cont-big-pic-cont-item-tit-small-wrapper:before {
    content          : "[";
    top              : -18px;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform   : rotate3d(0, 0, 1, 90deg);
    transform        : rotate3d(0, 0, 1, 90deg);
}

.scenes5-cont-big-pic-cont-item-tit-small-wrapper:after {
    content          : "]";
    bottom           : 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform   : rotate3d(0, 0, 1, 90deg);
    transform        : rotate3d(0, 0, 1, 90deg);
}
/*================*/
.scenes5-txt {
    position: relative;
    width   : 300px;
}

.scenes5-txt-big-tit {
    position: relative;
    height  : 238px;
}

.scenes5-txt-big-tit-cont {
    position               : relative;
    z-index                : 20;
    left                   : -62px;
    top                    : 44px;
    width                  : 294px;
    height                 : 122px;
    padding                : 32px 34px 16px;
    margin                 : 0 auto;
    background-color       : #fff;
    background-image       : -webkit-gradient(linear, left top, right top, from(#69b8f3), to(#69b8f3)), -webkit-gradient(linear, left top, left bottom, from(#63eaff), to(#62d7ff)), -webkit-gradient(linear, left top, right top, from(#63eaff), to(#5c88ff)), -webkit-gradient(linear, left top, left bottom, from(#5c88ff), to(#5a74ff));
    background-image       : -webkit-linear-gradient(left, #69b8f3 0%, #69b8f3 100%), -webkit-linear-gradient(top, #63eaff 0%, #62d7ff 100%), -webkit-linear-gradient(left, #63eaff 0%, #5c88ff 100%), -webkit-linear-gradient(top, #5c88ff 0%, #5a74ff 100%);
    background-image       : -moz-linear-gradient(left, #69b8f3 0%, #69b8f3 100%), -moz-linear-gradient(top, #63eaff 0%, #62d7ff 100%), -moz-linear-gradient(left, #63eaff 0%, #5c88ff 100%), -moz-linear-gradient(top, #5c88ff 0%, #5a74ff 100%);
    background-image       : linear-gradient(to right, #69b8f3 0%, #69b8f3 100%), linear-gradient(to bottom, #63eaff 0%, #62d7ff 100%), linear-gradient(to right, #63eaff 0%, #5c88ff 100%), linear-gradient(to bottom, #5c88ff 0%, #5a74ff 100%);
    background-position    : left bottom,left top,left top,right top;
    -webkit-background-size: 100% 4px,2px 100%,100% 2px,2px 100%;
    -moz-background-size   : 100% 4px,2px 100%,100% 2px,2px 100%;
    background-size        : 100% 4px,2px 100%,100% 2px,2px 100%;
    background-repeat      : no-repeat, no-repeat, no-repeat, no-repeat;
}

.scenes5-txt-big-tit-cont-small {
    position        : relative;
    display         : inline-block;
    height          : 24px;
    padding         : 0 8px;
    background-color: #1080f2;
    font-size       : 14px;
    line-height     : 24px;
    text-align      : center;
    color           : #fff;
}

.scenes5-txt-big-tit-cont-small:after {
    content      : "";
    position     : absolute;
    left         : 8px;
    bottom       : -8px;
    display      : block;
    border-left  : 8px solid #1080f2;
    border-bottom: 8px solid transparent;
    border-right : 8px solid transparent;
}

.scenes5-txt-big-tit-cont-big {
    padding-top: 8px;
    font-size  : 26px;
    line-height: 40px;
    font-weight: bold;
    color      : #000;
}

.scenes5-txt-list {
    padding-left: 24px;
}

.scenes5-txt-list-tit {
    vertical-align: bottom;
    vertical-align: text-bottom;
}

.scenes5-txt-big-tit-link {
    position: absolute;
}

.scenes5-txt-viewpoint-cn {
    display     : inline-block;
    background  : #1080f2;
    margin-right: 8px;
    font-size   : 26px;
    line-height : 100%;
    font-weight : bold;
    color       : #fff;
}

.scenes5-txt-viewpoint-en {
    display    : inline-block;
    font-size  : 18px;
    line-height: 100%;
    color      : #1080f2;
}

.scenes5-txt-list-items {
    padding-top: 18px;
}

.scenes5-txt-list-items a {
    display    : block;
    font-size  : 16px;
    line-height: 28px;
    color      : #000;
}

.scenes5-txt-list-items a:hover {
    color: #000;
}

.scenes5-txt-list-items-tag {
    display    : block;
    font-size  : 16px;
    line-height: 28px;
    color      : #000;
}

.scenes5-txt-list-items-tag:hover {
    color: #000;
}

.scenes5-cont-pic-list-unit-mask {
    position  : absolute;
    left      : 0;
    top       : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(255, 255, 255, 0.5);
}

.scenes5-cont-pic-list-unit:hover .scenes5-cont-pic-list-unit-mask {
    display: none;
}

.debug {
    display : none;
    position: relative;
    width   : 100px;
    height  : 100px;
}

.debug:after {
    content : attr(data-debug);
    position: absolute;
    left    : 0;
    top     : 0;
    display : block;
    width   : 100%;
    height  : 100%;
}

.scenes5-opacity-0 {
    opacity: 0;
}

.scenes5-opacity-1 {
    opacity: 1;
}

.scenes5-ani {
    -webkit-animation-duration       : .5s;
    -moz-animation-duration          : .5s;
    animation-duration               : .5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function   : ease;
    animation-timing-function        : ease;
    -webkit-animation-delay          : 0s;
    -moz-animation-delay             : 0s;
    animation-delay                  : 0s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count   : 1;
    animation-iteration-count        : 1;
    -webkit-animation-direction      : normal;
    -moz-animation-direction         : normal;
    animation-direction              : normal;
    -webkit-animation-play-state     : running;
    -moz-animation-play-state        : running;
    animation-play-state             : running;
    -webkit-animation-fill-mode      : forwards;
    -moz-animation-fill-mode         : forwards;
    animation-fill-mode              : forwards;
}

.scenes5-toleft-ani {
    -webkit-animation-name: scenes5_toleft_ani;
    -moz-animation-name   : scenes5_toleft_ani;
    animation-name        : scenes5_toleft_ani;
}

.scenes5-toleft-reverse-ani {
    -webkit-animation-name: scenes5_toleft_reverse_ani;
    -moz-animation-name   : scenes5_toleft_reverse_ani;
    animation-name        : scenes5_toleft_reverse_ani;
}

.scenes5-toright-ani {
    -webkit-animation-name: scenes5_toright_ani;
    -moz-animation-name   : scenes5_toright_ani;
    animation-name        : scenes5_toright_ani;
}

.scenes5-toright-reverse-ani {
    -webkit-animation-name: scenes5_toright_reverse_ani;
    -moz-animation-name   : scenes5_toright_reverse_ani;
    animation-name        : scenes5_toright_reverse_ani;
}

.scenes5-opactity-1-ani {
    -webkit-animation-name: scenes5_opactity_1;
    -moz-animation-name   : scenes5_opactity_1;
    animation-name        : scenes5_opactity_1;
}

.scenes5-opactity-0-ani {
    -webkit-animation-name: scenes5_opactity_0;
    -moz-animation-name   : scenes5_opactity_0;
    animation-name        : scenes5_opactity_0;
}
@-webkit-keyframes scenes5_toleft_ani {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }
}
@-moz-keyframes scenes5_toleft_ani {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        transform     : translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-100%, 0, 0);
        transform     : translate3d(-100%, 0, 0);
    }
}
@keyframes scenes5_toleft_ani {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform   : translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform   : translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }
}
@-webkit-keyframes scenes5_toleft_reverse_ani {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform        : translate3d(100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }
}
@-moz-keyframes scenes5_toleft_reverse_ani {
    0% {
        -moz-transform: translate3d(100%, 0, 0);
        transform     : translate3d(100%, 0, 0);
    }

    100% {
        -moz-transform: translate3d(0, 0, 0);
        transform     : translate3d(0, 0, 0);
    }
}
@keyframes scenes5_toleft_reverse_ani {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform   : translate3d(100%, 0, 0);
        transform        : translate3d(100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform   : translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }
}
@-webkit-keyframes scenes5_toright_ani {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform        : translate3d(100%, 0, 0);
    }
}
@-moz-keyframes scenes5_toright_ani {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        transform     : translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(100%, 0, 0);
        transform     : translate3d(100%, 0, 0);
    }
}
@keyframes scenes5_toright_ani {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform   : translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform   : translate3d(100%, 0, 0);
        transform        : translate3d(100%, 0, 0);
    }
}
@-webkit-keyframes scenes5_toright_reverse_ani {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }
}
@-moz-keyframes scenes5_toright_reverse_ani {
    0% {
        -moz-transform: translate3d(-100%, 0, 0);
        transform     : translate3d(-100%, 0, 0);
    }

    100% {
        -moz-transform: translate3d(0, 0, 0);
        transform     : translate3d(0, 0, 0);
    }
}
@keyframes scenes5_toright_reverse_ani {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform   : translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform   : translate3d(0, 0, 0);
        transform        : translate3d(0, 0, 0);
    }
}
@-webkit-keyframes scenes5_opactity_1 {
    100% {
        opacity: 1;
    }
}
@-moz-keyframes scenes5_opactity_1 {
    100% {
        opacity: 1;
    }
}
@keyframes scenes5_opactity_1 {
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes scenes5_opactity_0 {
    100% {
        opacity: 0;
    }
}
@-moz-keyframes scenes5_opactity_0 {
    100% {
        opacity: 0;
    }
}
@keyframes scenes5_opactity_0 {
    100% {
        opacity: 0;
    }
}

.scenes4 .clearfix:after,
.scenes5 .clearfix:after {
    content: "";
    display: block;
    clear  : both;
}
/* .scenes5 a:hover{
    color: #fff;
} */
/* .scenes5 a:hover{
    color: inherit;
}
.scenes5-img-tit a:hover{
    color: #fff;
} */
/* .scenes5-middle-upper{
    display: none;
} */
